@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen max-w-screen-md bg-gray-800;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
